*{
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}

/*UTILITIES*/
.container{
    width: 90%;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.side1{
    width: 50%;
}
.side3{
    width: calc(100 / 3 * 100%);
}
.side4{
    width: calc(100 / 4 * 100%);
}
.btn{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #e9e9e9;
    padding: 20px 35px;
    border-radius: 100px;
    background: linear-gradient(to right, #FD4E30,#FB9149);
    display: inline-block;
}
/*UTILITIES*/

/*HEADER AREA STARTS*/
ul{
    list-style: none;
    padding: 10px 50px;
    display: flex;
    justify-content: flex-end;
}
.logo{
    width: 90px;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}
ul li{
    float: inherit;
}
ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    color: #444;
    padding: 20px 30px;
    display: block;
}
#order_btn{
    padding: 18px 45px;
    border: 1px solid #FD4E30;
    border-radius: 5px;
    background: linear-gradient(to right, #FD4E30,#FB9149);
    color: #fff;
    text-transform: capitalize;
}
/*HEADER AREA ENDS*/


/*BANNER AREA STARTS*/
.banner_area{
    margin-top: 50px;
}
.banner_text{
    margin-top: 150px;
}
.banner_text h1{
    font-size: 70px;
    font-weight: 700;
    color: #575757;
}
.banner_text h1 span{
    color: #FD4E30;
}
.banner_text p{
    font-size: 22px;
    line-height: 30px;
    color: #828282;
    margin-top: 40px;
}
.banner_text a{
    margin-top: 50px;
}
.banner_img img{
    width: 98%;
}
/*BANNER AREA ENDS*/


/*ABOUT AREA STARTS*/
.about_area{
    background-image: url(images/frame.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    margin-top: 100px;
}
.about_img{
    text-align: center;
}
.about_img img{
    width: 90%;
}
.about_text{
    margin-top: 100px;
}
.about_text h2{
    font-size: 40px;
    color: #575757;
}
.about_text p{
    font-size: 18px;
    font-weight: normal;
    color: #333;
    margin-top: 50px;
    padding-right: 80px;
}
.about_text a{
    margin-top: 50px;
}
/*ABOUT AREA ENDS*/


/*RECIPE AREA STARTS*/
.recipe_area{
    margin-top: 100px;
}
.recipe_area .heading{
    text-align: center;
}
.recipe_area .heading h1{
    font-size: 40px;
    color: #575757;
}
.recipe_area .heading p{
    font-size: 20px;
    color: #333;
    width: 600px;
    margin: 30px auto;
}
.recipe_content{
    margin-top: 40px;
}
.recipe_box{
    box-shadow: 1px 1px 30px #d9d9d9;
    margin: 0 25px;
    padding: 17px 18px;
    border-radius: 25px;
}
.recipe_box img{
    width: 100%;
    height: 250px;
    border-radius: 22px;
}
.recipe_box h3{
    font-size: 30px;
    font-weight: bold;
    color: #222;
    margin-top: 30px;
}
.recipe_box p{
    font-size: 20px;
    font-weight: normal;
    color: #555;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*RECIPE AREA ENDS*/

/*BOOKING AREA STARTS*/
.booking_area{
    background-image: url(images/frame2.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 120px;
    padding: 100px 0 120px 0;
}
.booking_area .heading{
    text-align: center;
    margin-bottom: 50px;
}
.booking_area .heading h2{
    font-size: 40px;
    color: #575757;
}
.form_area{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px #d9d9d9;
}
.form_area input{
    width: 90%;
    height: 70px;
    border: none;
    background-color: #f9f9f9;
    padding: 0 10px;
    font-size: 20px;
}
.form_area #person{
    width: 95%;
    height: 70px;
    border: none;
    background-color: #f9f9f9;
    padding: 0 10px;
    font-size: 16px;
}
.form_area .book_btn{
    width: 90%;
    height: 70px;
    border: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 20px;
    background: linear-gradient(to right, #FD4E30,#FB9149);
    border-radius: 5px;
    cursor: pointer;
}
/*BOOKING AREA ENDS*/


/*SOCIAL AREA STARTS*/
.social_area{
    margin-top: 100px;
    text-align: center;
}
.social_content{
    width: 93%;
    background-color: #fff;
    box-shadow: 1px 1px 25px #d9d9d9;
    border-radius: 10px;
    margin: 0 auto;
    padding: 60px 0 50px 0;
}
.social_content .followers h1{
    font-size: 50px;
    font-weight: bold;
}
.social_content .followers p{
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    font-weight: 500;
}
/*SOCIAL AREA ENDS*/

/*FOOTER AREA STARTS*/
.footer_area{
    background-color: #0B0D17;
    padding: 100px;
    text-align: center;
    margin-top: 100px;
}
.footer_content h1{
    font-size: 40px;
    color: #828282;
    margin-bottom: 15px;
}
.footer_content h1 span{
    color: #FD4E30;
}
.footer_content p{
    font-size: 20px;
    color: #e9e9e9;
    font-weight: 500;
}
/*FOOTER AREA ENDS*/

