*{
    margin: 0;
    padding: 0;
}
/*UTILITIES*/
.container{
    width: 90%;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.side1{
    width: 50%;
}
.btn{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #e9e9e9;
    padding: 20px 35px;
    border-radius: 100px;
    background: linear-gradient(to right, #FD4E30,#FB9149);
    display: inline-block;
}
/*UTILITIES*/

/*HEADER AREA STARTS*/
ul{
    list-style: none;
    padding: 10px 50px;
    display: flex;
    justify-content: flex-end;
}
.logo{
    width: 90px;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}
ul li{
    float: inherit;
}
ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    color: #444;
    padding: 20px 30px;
    display: block;
}
#order_btn{
    padding: 20px 50px;
    border: 1px solid #FD4E30;
    border-radius: 5px;
}
/*HEADER AREA ENDS*/


/*BANNER AREA STARTS*/
.banner_area{
    margin-top: 50px;
}
.banner_text{
    margin-top: 150px;
}
.banner_text h1{
    font-size: 70px;
    font-weight: 600;
    color: #575757;
}
.banner_text h1 span{
    color: #FD4E30;
}
.banner_text p{
    font-size: 22px;
    line-height: 30px;
    color: #828282;
    margin-top: 40px;
}
.banner_text a{
    margin-top: 50px;
}

.banner_img img{
    width: 98%;
}
/*BANNER AREA ENDS*/


/*ABOUT AREA STARTS*/
.about_area{
    background-image: url(images/frame.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    margin-top: 80px;
}
.about_img{
    text-align: center;
}
.about_img img{
    width: 53%;
}
.about_text{
    margin-top: 100px;
}
.about_text h2{
    font-size: 40px;
    color: #575757;
}
.about_text p{
    font-size: 18px;
    font-weight: normal;
    color: #333;
    margin-top: 50px;
    padding-right: 80px;
}
.about_text a{
    margin-top: 50px;
}
/*ABOUT AREA ENDS*/



